body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-box {
  width: 450px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.search-field {
  border: 1px solid #8c8c8c;
  border-radius: 30px;
  padding: 12px;
  outline: none;
  width: 100%;
}
.button{
  text-align: center;
}
.search-button {
  padding: 8px 25px;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 15px;
  font-size:16px;
  letter-spacing:0.2rem;
  border: none;
  background-color: #e62525d9;
  color: #fff;
  font-weight:600;
  box-shadow: 0 0 15px gray;
  border-right: 8px solid #fff;
  border-left: 8px solid #fff;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: #ebebeb;
  border-radius: 15px;
  margin: 10px 5px;
  height : 550px; 
}
.single-product:hover {
  box-shadow: 4px 4px 7px #c6c4c4;
  border-radius: 10px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
